header{
    animation: slideBg 30s infinite 5s;
    animation-timing-function: ease-in-out;
    background-image: url("https://images.pexels.com/photos/1545510/pexels-photo-1545510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

@keyframes slideBg{
    0%{
        background-image: url("https://images.pexels.com/photos/1545510/pexels-photo-1545510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    25%{
        background-image: url("https://images.pexels.com/photos/33041/antelope-canyon-lower-canyon-arizona.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    50%{
        background-image: url("https://images.pexels.com/photos/5006544/pexels-photo-5006544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    75%{
        background-image: url("https://images.pexels.com/photos/3386540/pexels-photo-3386540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }
    
    100%{
        background-image: url("https://images.pexels.com/photos/1545510/pexels-photo-1545510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

}

header h1{
    color: rgb(255, 255, 255);
    background-color: rgb(201, 47, 47);
    padding: 5px;
}

header p{
    color: white;
}

.page_center{
    margin: 0 auto;
}

.headernav{
    text-decoration: none;
    max-width: 100%;
    padding: 10px;
    background: rgb(170, 46, 46);
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.logo{
    color: #ffffff;
    text-decoration: none;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    background: rgb(170, 46, 46);
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
}

nav{
    float: right;
    
}

.clearfix{
    clear:both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-right: 20px;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active,
nav ul li a:hover{
    background: #8f2929;
    color: #fff;
    transition: 0.5s;
}

@media (max-width:1200px){
    header{
        margin: 20px;
    }
}

.previous_button_div{
    float: left;
    margin-left: 47%;
}

@media (max-width:768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        background: rgb(170, 46, 46);
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #fff;
    }

    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }

    .menu-toggle.active:before{
        content: '\f00d';
    }

    nav{
        display: none;
    }

    nav.active{
        display: block;
        width: 100%;
    }

    nav.active ul{
        display: block;
    }

    nav.active ul li a{
        margin: 0;
    }

    .searchbar{
        padding: 10px;
    }

    .previous_button_div{
        float: left;
        margin-left: 41%;
    }

}

.btn-outline {
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.btn-outline:hover {
    background-color: rgb(210, 65, 65);
    text-decoration: none;
    color: white;
}

main {
    background-color: rgb(255, 255, 255);
}

strong {
    color: rgb(0, 0, 0);
}

a {
    color: rgb(40,40,40);
    text-decoration: none;
}

a:hover {
    color: rgb(40,40,40);
    text-decoration: underline;
}

.mask {
    background-color: rgba(251, 251, 251, 0.15)
}

.home-title {
    font-size: 96px;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-subtitle {
    font-size: 24px;
    font-weight: 400;
}

.blog{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 50%;
    padding: 30px 60px 30px 60px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 40px 10px rgb(230, 230, 230);
}

.blogtitle{
    font-weight: 400;
    font-size: 52px;
    line-height: 1.3;
    text-align: left;
}

.bloginfo{
    text-decoration: none;
    font-size: 22px;
}

.blogdate {
    font-size: 16px;
    color: rgb(100,100,100);
}

.blogcontent {
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
}

.blogcontent img {
    width: 100%;
}

.testimage{
    width: 100%;
}

.crop-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.card {
    height: 100%;
}

.card-text, .card-text * {
    color: rgb(100,100,100);
}

.site-footer
{
    background-color:#3f4044;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#afafaf;
    text-align: justify;
}

.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small
{
    margin:20px 0
}

.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a
{
    color:#afafaf
}

.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}

.footer-links
{
    padding-left:0;
    list-style:none
}

.footer-links li
{
    display:block
}

.footer-links a
{
    color:#afafaf
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:hsl(0, 100%, 70%);
    text-decoration: none;
}


.copyright-text
{
    margin:0
}

@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}

@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}

.blogpage{
    font-size: 50px;
    text-align: center;
}

.allposts{
    padding-top: 1%;
    padding-bottom: 1%;
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

.hidden {
    visibility: hidden;
    display: block;
    height: 0px;
    display: none;
}

.reply-item {
    margin-left: 30px;
    margin-bottom: 20px;
}

.comment-input {
    padding-top: 30px;
    padding-bottom: 30px;
}

.comment-input div label {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.comment-link-s {
    cursor: pointer;
    font-size: 0.85rem;
    color: black;
    text-decoration: none;
}

.comment-link-m {
    cursor: pointer;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.comment-link-m:hover, .comment-link-s:hover  {
    cursor: pointer;
    color: rgb(80,80,80);
    text-decoration: none;
}

.reply-tag {
    color: #007bff;
}

.main-content {
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

.info {
	background-color: red;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
}

@media screen and (min-width: 280px) and (max-width: 480px) {
	.main-content {
		width: 80%;
		margin-top: 30%;
	}

	.info {
		display: none;
	}

	.login_form {
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}

@media screen and (max-width: 640px) {
	.main-content {
		width: 80%;
		margin-top: 30%;
	}

	.info {
		display: none;
	}

	.login_form {
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}

@media screen and (min-width: 640px) and (max-width: 769px){
	.main-content {
		width: 80%;
		margin-top: 30%;
	}

	.info {
		display: none;
	}

	.login_form {
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
	.main-content {
		width: 70%;
	}
}

.row > h2 {
	color:red;
}

.row > p {
    padding-top: 10px;
}

.login_form {
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}

.form-group {
	padding: 0 2em;
}

.form__input {
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}

.form__input:focus {
	border-bottom-color: red;
	border-radius: 4px;
    color: red;
}

.btn2 {
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color: red;
	font-weight: 600;
	background-color: transparent;
	border: 1px solid red;
	margin-top: 40px;
	margin-bottom: 40px;
}

.btn2:hover, .btn2:focus {
	background-color: red;
	color:#fff;
}

.register {
	text-decoration: none;
	color: red;
}

.login {
	text-decoration: none;
	color: red;
}

.search{
    border-radius: 50px;
    background: #faf4f4;
    box-shadow:  -29px -29px 58px #e9e3e3,
                 29px 29px 58px #ffffff;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 700px;
    height: auto;
    padding: 50px;
    padding-bottom: 20px;
}

.searchtext{
    color: rgb(58, 53, 53);
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}

.subsearch{
    font-size: 17px;
    font-weight: 200;
    color: rgb(58, 53, 53);
}

.searchbar{
    margin-top: 16px;
}

.searchbar_t{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    padding: 5px;
    width: 200px;
}

.searchbar_b{
    height: 40px;
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: rgb(214, 57, 57);
    color: white;
}

.searchbar_b:hover{
    background-color: #ff2020;
    transition: 0.5s;
}

.readmore{
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: rgb(35, 86, 255);
    border-width: 1px;
    background-color: white;
    font-weight: 500;
    margin-left: 46%;
    border-radius: 8px;
    text-decoration: none;
}

.readmore:hover{
    background-color: rgb(35, 86, 255);
    color: white;
    transition: 0.5s;
}